html {
  background-image: url(img/background.webp);
  background-size: cover;
}
* {
  color: #5a5a5a;
  font-family: sitka;
}
h1 {
  font-size: 26px;
  max-width: 300px;
  border-bottom: 2px solid currentColor;
  margin-left: 5%;
}
h2 {
  margin-left: 8%;
  border-bottom: 2px solid currentColor;
  width: 250px;
}
h3 {
}
h4 {
  margin-left: 5%;
  margin-bottom: 0%;
  border-bottom: 2px solid currentColor;
  width: 150px;
}
h5 {
  font-size: 24px;
}
.possibleOptionsText {
  width: 250px;

  margin-left: 13%;
  margin-top: 10px;
  margin-left: 8%;
}
.sliderButtons {
  display: flex;
  justify-content: center;
}

.shownProduct {
  display: flex;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
/*preset preview Desktop NEW CSS*/
.preview-text {
  margin-top: 10%;
  text-align: center;
}
#preset-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 60px;
  width: 90%;
  height: max-content;
  border-radius: 40px;
  align-items: center;
  background: url(img/sectionback.webp);
  background-size: cover;
}
#presetPreview {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 700px;
  position: relative;
  width: 100%;
  height: 40%;
  background-color: #e9e7deb7;
  z-index: 1;
  margin: auto;
  border-radius: 40px;
}
.mySlides2 {
  margin-right: auto;
  margin-left: auto;
  max-width: 420px;
  min-width: 300px;
  border-radius: 15px;
}
.presetSlideshow {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}
.discoverPresetsText {
  max-width: 800px;
  margin: auto;
}
.presetTextAdjust {
  max-width: 200px;
  margin-top: 40%;
}

/*preset preview End*/
/* NAVIGATION BUTTONS*/
.navigationButtonsDesktop,
.navigationButtonsMobile {
  display: flex;
  justify-content: space-around;
}
.navigationButtonsMobile {
  margin-top: 4%;
}
.navigationButtonsDesktop {
}
/*FOOTER*/
.footer-mobile {
  background-image: url(img/sectionback.webp);
}
.footer-desktop {
  background-image: url(img/sectionback.webp);
  margin-top: -6%;
}
/* CAROUSEL*/
.carousel {
  aspect-ratio: 1/1;
  background-size: cover;
  background-position: center;
  background-image: url(img/bouquet1.webp);
}
.fadePreview {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.7s;
  animation-name: fade;
  animation-duration: 0.7s;
}
@-webkit-keyframes fadePreview {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadePreview {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.gridPresetPreviewDesktop {
  margin-top: 100px;
  display: flex;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-around;
}
.presetPictureDesktop {
  display: flex;
  margin-bottom: 40px;
  border-radius: 10px;
  max-width: 420px;
}

.presetPictureMobile {
  width: 80%;
}
.possibleOptions {
  margin-top: -30%;
  margin-left: 10%;
}
.presetOptions {
  /*style later*/
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
.slideShowPreset {
  margin-top: -40px;
  display: flex;
  justify-content: center;
}
.white-cell {
  border-color: white;
}
.white-cell:hover {
  background-color: white;
}
@media screen and (max-width: 768px) {
  .slider-cell {
    margin: 6px;
  }
}

/* hiding mobile elements for Making desktop ver */
@media screen and (min-width: 769px) {
  .carousel,
  .presetPartsTextMobile,
  .sliderButtons,
  .shownProduct,
  .bouquetePart,
  .boringInfo,
  .navigationButtonsMobile {
    /*this shit is overlapping somewhere */
    display: none;
  }
  .bouquetePart {
    visibility: hidden;
  }
  .btn1-light {
    max-width: 250px;
    max-height: 60px;
  }
} /*  hiding DEsktop elements for  phone version*/
@media screen and (max-width: 768px) {
  .gridPresetPreviewDesktop,
  .presetOptions,
  .presetPictureMobile .preview-text,
  #preset-container,
  #presetPreview,
  .mySlides2,
  .presetSlideshow,
  .discoverPresetsText,
  .navigationButtonsDesktop,
  .presetPictureDesktop,
  .gridPresetPreviewDesktop {
    display: none;
  }
  .btn1-light {
    width: 140px;
  }
}
/*STYLE FOR CONTACT PAGE HERE*/
.contactMobile {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: #e9e7deb7;
  padding: 2% 2% 2% 2%;
  border-radius: 15px;
}
.chosenText {
  margin-left: 10%;
  font-size: larger;
}
.contactText {
  display: flex;
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}
.contactInput {
  border: 1px solid #3b3b3b;
  border-radius: 15px;
  height: 40px;
  width: 60%;
  margin-top: 4%;
  margin-left: 4%;
  font-size: larger;
}
input::placeholder {
  padding-left: 10px;
}
.yourMessage {
  width: 80%;
  height: 100px;
  margin-bottom: 2%;
}
.contactButton {
  margin: 4%;
  padding: 2%;
}
/* hiding mobile elements for Making desktop ver */
@media screen and (min-width: 769px) {
  .carousel {
    display: none;
  }
}
